.popup__container {
  position: relative;
  height: 330px;
  width: 430px;
  padding: 36px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
